body
{   
    background-size: cover;
    min-height: 100vh;
    background-color: rgb(23,22,35);
    background-repeat: no-repeat;
}

#banniere
{
    background-image: url('Ressources/triangles.png');
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 100px;
    background-size: 100%;
    margin-left: -10px;
    margin-right: -10px;
    padding-top: 3px;
    
    animation-name: banner;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes banner
{
    0%
    {
        filter: hue-rotate(0deg);
    }

    100%
    {
        filter: hue-rotate(360deg);
    }
}

h1
{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    letter-spacing: 15px;
    text-transform: uppercase;
    padding-top: 20px;
    color: azure;
}

h1, #allImput
{
   text-align: center;
}

#saisie
{   
    z-index: 100;
    opacity: 100%;
    background-color: rgb(37,39,62);
    margin-top: 60px;
    height: 48px;
    width: 22.9%;
    border: none;
    color : wheat;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.3s ease-in;
    font-family: Arial, Helvetica, sans-serif; 
}

#saisie:focus
{
    opacity: 100%;
    background-color: rgb(37,39,62);
    margin-top: 60px;
    height: 48px;
    border: none;
    border-bottom-width: 10px;
    outline: none;
    border-bottom-color: rebeccapurple;
    transition: all 1.0s ease;
    box-shadow: 0 0 0 0 black;
    animation: pulse 1.3s infinite;
}

@keyframes pulse
{
    to 
    {
        box-shadow: 0 0 0 18px rgba(0, 0, 0, 0.01);
    }
}

#add
{
    background-color: transparent;
    border: none;
    font-size: 2rem;
    padding-top: 15px;
    color: rgb(130,132,167);
}

#plusButton
{
    position: relative;
        top: 7.25px;
        left: -45px;
}

#plusButton:active
{
    filter: opacity(60%);
    border-radius: 20px;
    color: rgb(255, 255, 255, 1);
}

#liste
{
    text-align: center;
    margin-top: 200px;
    position: relative;
        top: -250px;
    min-width: 60%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    margin-bottom: 0%;
    padding-bottom: 30px;
    padding-top: 20px; 
}

.edit
{
    background-color: rgb(37,37,60);
    color: wheat;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 30%;
    height: 48px;
    margin-bottom: -2px;
    border-bottom-width: 1px;
    border-bottom-color: rgb(68, 68, 68);
    border-top: none;
    border-left: none;
    border-right: none;
}

.animate
{
    animation: apparition 0.8s ease-out; 
}

@keyframes apparition
{
    from
    {
        opacity: 0;
        transform: translateY(-100px);
    }

    to 
    {
        opacity: 1;
        transform: translateY(0px);
    }
}

.edit:focus
{
    box-shadow: 0 0 0 0 rgb(0, 0, 0);
    animation: pulse 1.3s infinite;
}

#categorie
{
    background-color: rgb(37,39,62);
    border: none;
    color: wheat;
    height: 50px;
    animation: none;
}

.change, .delete, .save
{
    font-size: 1rem;
    border-radius: 40px;
    position: relative;
        left: -60px;
        top: 1px;
    border: none;
    background-color: rgb(130,132,167);
    color: rgb(37,39,62);
}

.change:active
{
    background-color: rgb(141, 141, 82);
    filter: opacity(60%);
}

.save:active
{
    background-color: green;
    filter: opacity(60%);
}

.delete:active
{
    background-color: red;
    filter: opacity(60%);    
}

.choose
{
    background-color: rgb(37,39,62);
    height: 51.3px;
    color: wheat;
    border-bottom-width: 1px;
    border-bottom-color: rgb(68, 68, 68);
    border-top: none;
    border-left: none;
    border-right: none;
}


.choose:disabled
{
    opacity: 1;
}

#up
{
    font-size: 3rem;
    background-color: transparent;
    border: none;
    color: blueviolet;
    align-items: flex-end;
    position: fixed;
        bottom: 10px;
        right: 10px;
}


@media screen and (min-width:320px ) and (max-width:900px) {
   /*width : 324px to 480px portrait */

    #banniere
    {
        min-width: 100%;
        padding-right: 0px;
        margin-top: -110px;
    }
    
    #add
    {
        position: absolute;
        top : 200px;
    }

    h1
    {
        margin-top: 100px;
        margin-left: 10px;
        font-size: 17px;
    }

    #saisie
    {
        min-width: 60%;
    }

    /*.edit
    {
        width: 98%;
        
        
    }
    

    #wrapper
    {
        width: 100%;
    }

    .edit
{
    background-color: rgb(37,37,60);
    margin-right: -77px;
    margin-left: -43.5px;
    color: wheat;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 30%;
    height: 48px;
    margin-bottom: -2px;
    border-bottom-width: 1px;
    border-bottom-color: rgb(68, 68, 68);
    border-top: none;
    border-left: none;
    border-right: none;
}
.change, .delete, .save
{
    font-size: 1rem;
    border-radius: 40px;
    position: relative;
        left : 0px;
        top: 1px;
    border: none;
    background-color: rgb(130,132,167);
    color: rgb(37,39,62);
   
}
.choose
{
    background-color: rgb(37,39,62);
    height: 51.3px;
    color: wheat;
    margin-right: -100px;
    margin-left: 50px;
    border-bottom-width: 1px;
    border-bottom-color: rgb(68, 68, 68);
    border-top: none;
    border-left: none;
    border-right: none;
}

  
 

  
  
}*/




}